// Override Bootstrap's Sass default variables
//
// Custom primary color and body background
$primary: #bf5700; // Burnt orange
$body-bg: #ededed; // Light grey

// Import Bootstrap styles:
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import partials:

// Custom styles:
// header lead lighter
header {
  .lead {
    font-weight: lighter;
  }
}

// Custom tagline style
.tagline {
  font-style: italic;
  text-align: right;
}
